header {
  background-color: #333;
  padding: 20px;
}

h1 {
  color: #fff;
  font-size: 24px;
}

main {
  padding: 20px;
}

.search-bar_ {
  display: flex;
  margin-bottom: 20px;
}

#searchInput_ {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  flex-grow: 1;
}

#searchBtn_ {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  background-color: #4D8EB7;
  color: #fff;
  border: 1px solid #4D8EB7;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

#searchBtn_:hover {
  background-color: #60B2E5;
}

.recherche_{
  width: 30px;
  height: 30px;
}

.filters {
  margin-bottom: 20px;
}

.results {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}
