header {
  background-color: #333;
  padding: 20px;
}

h1 {
  color: #fff;
  font-size: 24px;
}

main {
  padding: 20px;
}

.search-bar_p {
  display: flex;
  margin-bottom: 20px;
}

#searchInput_p {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  outline: none;
  flex-grow: 1;
}

#searchBtn_p {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4D8EB7;
  color: #fff;
  border: 1px solid #4D8EB7;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  outline: none;
}

#searchBtn_p:hover {
  background-color: #60B2E5;

}

.filters {
  margin-bottom: 20px;
}

.results {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}
